<div class="body">
  <div class="toolbar">
  

  <mat-toolbar color="primary">
    <span>Labyrinth Learning Platform</span>

    <span class="example-spacer"></span>
    <span class="section">
      Home
    </span>
    <span class="example-spacer2"></span>
    <span class="section">
      About Us
    </span>
    <span class="example-spacer2"></span>
    <span class="section">
      Quiz
    </span>
    <span class="example-spacer2"></span>
    <span class="section">
      Quesiton papers
    </span>
    <span class="example-spacer2"></span>
    <span class="section">
      Blogs
    </span>
    <span class="example-spacer2"></span>
  
  </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</div>