.body {
    margin: 0;
}

.platform-name {
    font-size: 100%;
}

#toolbar {
    display: flex;
}

.example-spacer {
    flex: 1 1 auto;
    margin-left: 100%;
}

.example-spacer2 {
    margin-left: 10%;
}

.section {
    /* border: 1px solid rgb(153, 173, 230); */
    padding-left: 2%;
    padding-right: 2%;
    font-size: 70%;
    border-radius: 3px;
}

.section:hover {
    cursor: pointer;
    /* border: 1px solid rgb(186, 200, 238); */
}

mat-toolbar {
    background-color: #212121;
    color: white;
}

@media only screen and (max-width: 768px) {
    #toolbar {
        width: 100%;
    }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* body {
    margin: 0%;
} */


/* .companyName {
    font-size: 150%;
} */


/* 
.mat-toolbar {
    height: 7vh;
} */


/* 
div {
    overflow: inherit;
} */

.mat-sidenav-container {
    min-height: 93vh !important;
}


/* button {
    font-size: 110%;
    min-width: min-content;
} */


/* .example-icon {
    padding: 0 14px;
} */


/* .mat-sidenav-content {
    font-size: 200%;
    text-align: center;
} */